@page "/"

@inject IJSRuntime JS;


<style>
    h1 {
        margin: 10px 0;
        font-size: 40px;
    }

    #loadingMessage {
        text-align: center;
        background-color: #eee;
    }

    #canvas {
        width: 100%;
    }

</style>

<h1>QR Reading Test</h1>

<div id="loadingMessage">カメラにアクセスの許可が必要です。</div>
<br />
<input id="btnScan" type="button" class="btn btn-primary"　@onclick="Scan" value="QRスキャン"/>
<br />
<br />
<canvas id="canvas" hidden></canvas>

@code
{
    async Task Scan()
    {
        await JS.InvokeVoidAsync("startQrReading", new object[0]);

        StateHasChanged();
    }
}