@page "/"

@inject IJSRuntime JS;


<style>
    h1 {
        margin: 10px 0;
        font-size: 40px;
    }

    #loadingMessage {
        text-align: center;
        padding: 40px;
        background-color: #eee;
    }

    #canvas {
        width: 100%;
    }

</style>

<h1>QR Reading Test</h1>

<div id="loadingMessage">カメラにアクセスの設定が必要です。</div>

<br />
<input id="btnScan" type="button" class="btn btn-primary"　@onclick="Scan" value="QRスキャン"/>

<br />
<br />
@*<div id="output" hidden>
    <div id="outputMessage"></div>
    <div hidden><b>Data:</b> <span id="outputData"></span></div>
</div>*@
<canvas id="canvas" hidden></canvas>

@code
{
    async Task Scan()
    {
        await JS.InvokeVoidAsync("startQrReading", new object[0]);

        StateHasChanged();
    }
}